body {
    margin: 0;
    background: #09060F;
    color: #FFFFFF;
    font-family: 'Lexend Zetta', sans-serif;
    box-sizing: border-box;

}

:root {
    font-family: 'Lexend Zetta', sans-serif;
}


/* - - - - - Default Composants Starts - - - - - */

p {
    font-family: 'Lexend Zetta';
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h2, h3 {
    text-align: center;
    font-family: 'Permanent Marker';
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 105.203%; /* 1.84106rem */
    letter-spacing: 0.07rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    /*text-align: center;
    
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    0.789rem
    */
    font-family: 'Lexend Zetta';
    line-height: 105.203%;
    letter-spacing: -0.045rem;
    font-size: 1.1rem;
    margin-top: 20px;
    color: #FFFFFF;
}

h5 {
    text-align: center;
    font-family: 'Lexend Zetta';
    font-size: 0.625rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.0375rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* - - - - - Default Composants  Ends - - - - - */

/* --------------------------------------------------------------- */

/* - - - - - header Starts - - - - - */

.hide-mobile {
    display: none;
}

.menu {
    width: 30px;
    margin-top: 45%;
}

header #photo-accueil {
        object-fit: cover;
        position: relative;
        top: -4rem;
        left: -10px;
        z-index: -1;
}

header #menu {
    position: relative;
    top: -1rem;
}

header h1 {
    position: absolute;
    color: #08060f00;
    top: -4rem;
}

nav {
    display: flex;
    justify-content: flex-end; 
    padding: .8em 1.2em;   
}

nav ul {
    position: fixed;
    width: 50%;
    top: 0;
    right: 0;
    text-align: left;
    background: rgb(64 70 74);
    height: 64%;
    z-index: 7;
    padding-top: 3em;
}

nav ul li {
    background-color: rgb(97 106 111);
    margin: auto;
    padding-left: 1em;
    padding-bottom: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    display: block;
    width: 100%;
    padding: 0.5em 0.5em;
    
}

nav ul li:hover {
    background-color: rgb(57, 64, 67);
}

.exit-btn {
    margin-top: -1.3em;
    text-align: right;
    padding-top: 1.4em;
    padding-right: 1.4em;
}

.exit-btn img {
    width: 15px;
    cursor: pointer;
}

.subhead {
    font-size: 0.7rem;
    position: relative;
    top: 1.5rem;
    margin-bottom: 15%;
}

header img {
    object-fit: cover;
    flex: 1;
    width: 100%;
}

/* - - - - - header Ends - - - - - */

/* --------------------------------------------------------------- */

/* - - - - - Class Container Starts - - - - - */

.container {
    text-align: center;
    padding: .8em 0.5em;  

}

/* - - - - - Class Container Ends - - - - - */

/* --------------------------------------------------------------- */

/* - - - - - Class swiper Starts - - - - - */

.container .wide {
    max-width: 100%;
    padding: 0 2rem;
}

  /* Style each menu item container */
.swiper-slide {
/* Class avant swiper .menu-accueil */
    /*display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
    margin: 15px;
    
    height: 11.5625rem;
    */
    margin: 0;
    background: rgba(223, 223, 218, 1);
    border-radius: 10px;
    color: black;
    padding: 0rem 0rem 1rem;

}

  /* Style the food item names */
.swiper-slide h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

  /* Style the food description */
.swiper-slide p {
    font-size: 0.9rem;
    margin: 0;
}

  /* Style the food images */
.swiper-slide img {
    display: flex;
    width: 90%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
    margin: 1rem 1rem;
}

  /* Style the prices */
.swiper-slide h4 {
    font-size: 1.1rem;
    margin: 0;
    color:#000000;
}

.swiper-custom-nav {
    position: relative;
    transform: translateY(20%);
    left: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.swiper-custom-nav img {
    width: 40px;
}

.swiper-custom-nav .carousel-btn {
    cursor: pointer;
    opacity: .6;
    transition: all .3s ease-in-out;
    width: 40px;
}

.swiper-custom-nav .carousel-btn:hover {
    opacity: 1;

}

.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 1rem;
    font-size: 1.3rem;
}

.swiper-pagination .swiper-pagination-bullet {
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: transparent;
    opacity: 1;
    text-align: center;
}

.swiper-pagination .number {
    font-family: 'Permanent Marker';
    opacity: 0.2;
    transition: all .3s ease-in-out;
}

.swiper-pagination .swiper-pagination-bullet-active .number {
    opacity: 1;
}

/* - - - - - Class swiper Ends - - - - - */

/* --------------------------------------------------------------- */

/* - - - - - Class about Starts - - - - - */

.about {
    display: flex;
    padding: 4em 0.5em;
    text-align: center;
    margin-bottom: 7rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
}

#about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#about-tomate-title {
    display: flex;
    width: 50%;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about #tomate-coupe {
    position: relative;
    object-fit: contain;
    flex: 1;
    height: 5rem;
    left: auto;
    top: 0rem;
}

.about h2 {
    position: absolute;
    left: 2rem;
}

.about #about-kepab-pic {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.about img {
    position: relative;
    flex: 1;
    width: auto;
    height: 20.59263rem;
    transform: rotate(6.397deg);
    filter: drop-shadow(16px 16px 20px rgba(0, 0, 0, 0.25)) invert(7%);
    top: 4rem;
    left: -4rem;
}

.about #vector {
    width: 2.96688rem;
    height: 2.96688rem;
    stroke-width: 1px;
    stroke: #FFF;
    top: -13rem;
    left: 15rem;
}

.about p {
    position: relative;
    width: 100%;
    font-size: 0.8rem;
    top: 6rem;
    left: -0.625rem;
}

.about #vector-line {
    width: 7.125rem;
    height: 0.1875rem;
    transform: rotate(0deg);
    top: 8rem;
    left: auto;
}

/* - - - - - Class about Ends - - - - - */

/* --------------------------------------------------------------- */

/* - - - - - Class menu-container Starts - - - - - */


.menu-container {
    image-rendering: auto;
    background: url(../resources/img/Street_Food_Wallpaper.webp), lightgray -58.529px -768.751px / 116.271% 307.849% no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat:inherit;
    /*width: 22.5rem;*/
    padding-bottom: 2rem;
    
}

.menu-food {
    text-align: center;
}

.menu-food img {
    width: 75%;
    max-width: 400px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    /*filter: drop-shadow(16px 16px 20px rgba(202, 224, 5, 0.17)) invert(2%);*/
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th p.table-th-title {
    text-align: start;
    font-family: 'Permanent Marker';
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    padding: 0;
    /*line-height: 105.203%; /* 1.84106rem */
    /*letter-spacing: 0.07rem;*/
}

th:nth-child(1),
td:nth-child(1) {
    width: 60%;
    text-align: left;
    padding:10px;
}

th:nth-child(2),
td:nth-child(2),
th:nth-child(3),
td:nth-child(3) {
    width: 20%;
    border-left: 0.0625rem solid #CF2723;
    padding: 10px;
}

.right-side-menu h5 {
    font-size: 0.9rem;
    padding-right: 10px;
}

.menu-baseline {
    font-size: 0.8rem;
    color: #F6F6F6;
}

.menu-container table h4 {
    position: relative;
    top: 1.5rem;
    left: 0.0625rem;
}

.menu-container table h2 {
    position: relative;
    top: 0.5rem;
    left: 0.0625rem;
    font-size: 1.75rem;
    text-align: left;
}

.menu-container table p {
    font-size: 0.6875rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 0.5rem;
}

.menu-container .menu-baseline {
    font-size: 0.6rem;
    padding-left:1rem;
}

.menu-container .pizza-description {
    position: relative;
    top: -1.3rem;
    font-size: 0.5rem;
    
}

.menu-food .sandwiches-titres {
    font-size: 1.6rem;
    
}

/* - - - - - Class menu-container Ends - - - - - */

/* --------------------------------------------------------------- */

/* - - - - - Footer Starts - - - - - */

footer {
    background-color: rgba(223, 223, 223, 1);
    padding: 13px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    color: #53565A;
}

footer img {
    position: relative;
    width: 13.0625rem;
    transform: translate(-7%,-66%);
    transition: opacity 0.5s;
    clip-path: inset(70% 0% 0% 0%);
    top: -1.33rem;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

#titre-footer {
    font-family: 'Meie Script';
    font-size: 4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.16rem;
    transform: rotate(-12.556deg);
    color: #53565A;
    -webkit-text-stroke-color: #000000;
    -webkit-text-stroke-width: 1px;
    margin-top: -2em;
    margin-left: -0.6em;
}

footer div {
    width: 100%;
    margin: 0 30px 0 30px;
}

footer h2 {
    font-size: 6rem;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
    transform: rotate(-12.556deg);
}

footer p {
    margin-bottom: 30px;
}

footer div:nth-child(3) p {
    font-size: 1rem;
    margin-bottom: 5px;
}

footer a {
    color: #CF2723;
    text-decoration: none;
    margin-right: 10px;
}

footer a[href="map.html"] {
    color: #CF2723;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

footer ul li {
    display: inline-block;
    margin-right: 10px;
}

footer ul li a {
    color: #777777;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#map {
    position: relative;
    width: 16.25rem;
    height: 3.04719rem;
    border-radius: 2rem;
    background: #AD0804;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 2rem;
    padding-top: 10px;
    left: 1.2rem;
}

.juridique {
    font-family: 'Lexend Zetta';
    font-size: 0.7rem;
}

/* - - - - - Footer Ends - - - - - */

/* --------------------------------------------------------------- */

/* - - - - - - - - - Carousel displays and Responsive Starts - - - - -  - - - - */

/* - - - - - - - - - Carousel displays and Responsive Ends - - - - -  - - - - */

