@media screen and (min-width:600px) {


    section #carousel-container * {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        overflow: hidden;
    }
    
    .carousel-slides {
        display: flex;
        /*overflow-x: scroll; /* Allow horizontal scroll on mobile*/
        /*scroll-snap-type: x mandatory;
        -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
        /*gap: 20px;*/
        transition: transform 0.3s ease;
    }

    .swiper-custom-nav {
        z-index: 0;
        padding: 2em 0;
        justify-content: space-around;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: 25px;
    }
    
    .subhead {
        top: 5em;
    }

    .about {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .about h2 {
        left: -4rem;
    }

    .about #vector {
        top: 6.5rem;
        left: 7.5rem;
    }

    .about p {
        padding-left: 0;
        width: 90%;
    }

    .about #vector-line {
        left: auto;
        top: 7rem;
    }

    .menu-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .menu-container ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .menu-food {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .menu-food img {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .menu-container .product-baseline {
        font-size: 0.8rem;
    }

    footer img {
        width: 16rem;
        transform: translate(-7%,-50%);
        clip-path: inset(53% 0% 0% 0%);
        border-radius: 0%;
    }

    footer #map {
        width: auto;
        left: 0;
        text-decoration: none;
    }

    footer #map:hover {
        background-color: #d9100b;
        color: #F6F6F6;
    }

    footer #rules {
        display: flex;
        padding: 2rem;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
        justify-content: center;
    }


}


/* Styles for menu display on larger devices */
@media screen and (min-width: 1024px) {

    #carousel-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 20px;
    }
    .menu-accueil {
      flex-basis: calc(33.33% - 40px); /* Adjust this value as needed */
    }

    footer #map {
        width: 50%;
        left: 22%;
    }
}


.menu-accueil {
    width: 200px;
    text-align: center;
    margin: 15px;
    padding: 0rem 0.9rem 2rem;
    height: 11.5625rem;
    background: rgba(223, 223, 218, 1);
    border-radius: 10px;
    color: black;
    /*flex: 0 0 calc(100% - 20px); /* Slide width with 20px gap */
    scroll-snap-align: start;
}

.menu-accueil h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    transform: rotate(-0.071deg);

}

.menu-accueil img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;    
    filter: drop-shadow(7px 16px 25px rgba(0, 0, 0, 0.25)) invert(4%);
}

.menu-accueil p {
    font-size: 0.9rem;
    margin: 0;

}

.carousel-btn * {
    /*display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    margin-top: 1rem;*/
    text-align: center;
    margin-top: 10px;
    
}

#next-button {
    position: relative;
    margin: 0;
    bottom: 3px;
    transform: rotate(180deg);
}

#prev-button,
#next-button {
    cursor: pointer;
    margin-top: 5em;
}

#carousel-position {
    display: inline-block;
    margin: 0 40px;
    color: white;
    font-size: 0.8rem;
}