#carousel-container {
    /* Center the carousel */
    display: flex;
    justify-content: center;
    align-items: center;
    /* Add a gap between the carousel and screen edges */
    padding: 0 10px;
}

.carousel-slides {
    /* Ensure images take up full width */
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
}

.menu-accueil {
    /* Center align each slide */
    display: inline-block;
    text-align: center;
}

  /* Hide the previous and next buttons initially (will be shown using JS) */
#carousel-btn {
    display: none;
    /* Adjust positioning as needed */
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.carousel-controls {
    /* Center the buttons and position indicator */
    display: flex;
    justify-content: center;
    align-items: center;
}

#slide-position {
    /* Style your slide position indicator as needed */
}

  /* Styles for wider screens (disable the carousel) */
@media (min-width: 768px) {
    #carousel-container {
        display: block; /* Show slides one aside the other */
        height: calc(100vh / 3); /* 1/3 of screen height */
    }

    .carousel-slides {
         white-space: normal; /* Allow slides to stack vertically */
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: visible;
    }

    .menu-accueil {
        display: block;
        margin: 20px; /* Add gap between slides */
    }

    #carousel-btn {
        display: none; /* Hide the carousel buttons on wider screens */
    }

    /* Additional styles to remove carousel behavior on wider screens */
    #carousel-container .swiper-wrapper {
        display: flex;
    }
}
