footer {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(223, 223, 223, 1);
    padding: 13px 0;
    color: #53565A;
}