.l-menu-container {
    box-sizing: border-box;
    padding: 10px;
    
    image-rendering: auto;
    background: url(../resources/img/Street_Food_Wallpaper.webp), lightgray -58.529px -768.751px / 116.271% 307.849% no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat:inherit;
    /*width: 22.5rem;*/
    padding-bottom: 2rem;
    
}