#btn-carousel {
    display: none;
    /* Adjust positioning as needed */
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.exit-btn {
    margin-top: -1.3em;
    padding-top: 1.4em;
    padding-right: 1.4em;

    text-align: right;
}